*.log
*.csv
.DS_Store
shellQA/
*.db
*.dat
*.sql
*.pkl
*.sh
app/testRendimiento.py
app/qosprocesslite.py
app/qosmetrics.py
app/qosmetrics_process.py
configServer/config.ini
configServer/config.ini
configServer/config.ini
app_server/
qos*
test*
